USE [master]
GO
/****** Object:  Database [BaseSala]    Script Date: 27/8/2026 13:47:32 ******/
CREATE DATABASE [BaseSala]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseSala', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseSala.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseSala_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseSala_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseSala].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseSala]
GO
/****** Object:  User [alumno]    Script Date: 27/8/2026 13:47:32 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Partida]    Script Date: 27/8/2026 13:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[HoraInicio] [datetime] NOT NULL,
	[IdSala] [int] NOT NULL,
	[EstadoActual] [varchar](50) NOT NULL,
	[NombreJugador] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Partida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 27/8/2026 13:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[IdSala] [int] NOT NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[IdSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Partida] ON 

INSERT [dbo].[Partida] ([Id], [FechaInicio], [HoraInicio], [IdSala], [EstadoActual], [NombreJugador]) VALUES (2, CAST(N'2026-08-27' AS Date), CAST(N'2026-08-27T13:46:31.943' AS DateTime), 1, N'curso', N'Wolframiotungsteno')
SET IDENTITY_INSERT [dbo].[Partida] OFF
GO
INSERT [dbo].[Sala] ([IdSala]) VALUES (1)
INSERT [dbo].[Sala] ([IdSala]) VALUES (2)
INSERT [dbo].[Sala] ([IdSala]) VALUES (3)
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Sala] FOREIGN KEY([IdSala])
REFERENCES [dbo].[Sala] ([IdSala])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Sala]
GO
USE [master]
GO
